<div class="page page-about">
  
  <div class="container--flex-center">
		<div class="col--two">	
			<img src="{{'about.png' | asset_url}}" alt="About Running Dive">
		</div>
		<div class="col--two">
			<h1>about <span>runningdive</span></h1>
		  {{ page.content }}
		</div>
  </div>
  
</div>