<div class="page page-about">
  
  <div class="container--flex-center">
		<div class="col--two">	
			<h1>About <span>Runningdive</span></h1>
			<img src="{{'about.png' | asset_url}}" alt="About Running Dive">
		</div>
		<div class="col--two">
		  {{ page.content }}
		</div>
  </div>
  
</div>